<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>jhc开发者平台</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" th:href="@{bootstrap/css/bootstrap.min.css}">
        <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css" th:href="@{font-awesome/css/font-awesome.min.css}">
		<link rel="stylesheet" href="assets/css/form-elements.css" th:href="@{css/form-elements.css}">
        <link rel="stylesheet" href="assets/css/style.css" th:href="@{css/style.css}">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="assets/ico/favicon.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png" th:href="@{ico/apple-touch-icon-144-precomposed.png}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png"th:href="@{ico/apple-touch-icon-114-precomposed.png}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png" th:href="@{ico/apple-touch-icon-72-precomposed.png}">
        <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png" th:href="@{ico/apple-touch-icon-57-precomposed.png}">

    </head>

    <body>

        <!-- Top content -->
        <div class="top-content">
        	
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1><strong>Jhc开发者平台</strong> 注册表单</h1>
                            <div class="description">
                            	<p>
                                    最大的挑战和突破在于用人，而用人最大的突破在于信任人 <strong>努力</strong>， 创造我们的价值!
                            	</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                        	<div class="form-top">
                        		<div class="form-top-left">
                        			<h3>register to our site</h3>
                            		<p> register in:</p>
                        		</div>
                        		<div class="form-top-right">
                        			<i class="fa fa-key"></i>
                        		</div>
                            </div>
                            <div class="form-bottom">
			                    <form role="form" action="" method="post" class="login-form" th:action="@{update}" id="form">
                                    <div class="form-group">
                                        <label class="sr-only" for="form-name">[[${user.name}]]</label>
                                        <input type="text" name="name" th:value="${user.getName()}" class="form-username form-control" id="form-name" readonly="readonly">
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="form-username">[[${user.username}]]</label>
                                        <input type="text" name="username" th:value="${user.getUsername()}" class="form-password form-control" id="form-username" readonly="readonly">
                                    </div>
			                    	<div class="form-group">
			                    		<label class="sr-only" for="form-email">[[${user.email}]]</label>
			                        	<input type="email" name="email"  th:value="${user.getEmail()}" class="form-username form-control" id="form-email" readonly="readonly">
			                        </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="form-tel">[[${user.phone}]]</label>
                                        <input type="tel" name="phone" th:value="${user.getPhone()}" class="form-password form-control" id="form-tel" readonly="readonly">
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="form-password1">密码</label>
                                        <input type="password" name="password" placeholder="输入密码..." class="form-password form-control" id="form-password1">
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="form-password">确认密码</label>
                                        <input type="password" name="password1" placeholder="再次输入密码..." class="form-password form-control" id="form-password">
                                    </div>
			                        <button type="button" class="btn" id="btn2" onclick="formCheck()">确认修改!</button>
			                    </form>
		                    </div>
                        </div>
                    </div>

                </div>
            </div>
            
        </div>



        <!-- Javascript -->
        <script src="assets/js/jquery-1.11.1.min.js" th:src="@{js/jquery-1.11.1.min.js}"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js" th:src="@{bootstrap/js/bootstrap.min.js}"></script>
        <script src="assets/js/jquery.backstretch.min.js" th:src="@{js/jquery.backstretch.min.js}"></script>
        <script src="assets/js/scripts.js" th:src="@{js/scripts.js}"></script>
        
        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js" th:src="@{js/placeholder.js}"></script>
        <![endif]-->

    </body>
<script>
    function checkpassword() {
        var password = $("#form-password").val();
        var password_charge = /^\w{8,20}$/;
        var flag = password_charge.test(password);
        if (flag) {
            $("#form-password").css("border", "2px solid green");

        } else {
            $("#form-password").css("border", "2px solid red");

        }
        return flag;
    }
    function checkpassword1() {
        var password = $("#form-password1").val();
        var password_charge = /^\w{8,20}$/;
        var flag = password_charge.test(password);
        if (flag) {
            $("#form-password1").css("border", "2px solid green");

        } else {
            $("#form-password1").css("border", "2px solid red");

        }
        return flag;
    }

    $(function () {
        $("#form-password").blur(checkpassword);
        $("#form-password1").blur(checkpassword1);
    });

    function formCheck() {
        if ( checkpassword1() && checkpassword()) {
            document.getElementById("form").submit();
            alert("密码修改成功！")
        } else {
            alert("不符合要求重新输入");
            location.href = "updatePassword.html";
        }
    }
</script>

</html>